.form {
    background-color: white;
    padding: 3%;
}
#header {
    background-color: skyblue;
    margin: 5%;
    padding: 1%;
    margin-bottom: 0;
    border: solid darkcyan 10px;
    border-radius: 10px;
}
#header h1 {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 5s steps(40,end),
      blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: skyblue; }
  }
  
.iframe {
    background-color: grey;
    margin: 5%;
    margin-top: 0;
    padding: 2%;
    border: solid white 10px;
    border-radius: 10px;
}
footer {
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2%;
}